<div class="container-fluid characters">
  <div class="banner">
    <figure class="banner-image">
      <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/characters_art_mas_mob_01.jpg" alt="Banner">
    </figure>
    <div class="banner-text">
      <h3 class="banner-heading">MARVEL CHARACTERS</h3>
      <p class="banner-info">Get hooked on a hearty helping of heroes and villains from the humble House of Ideas!</p>
    </div>
    <div class="container">
      <h4 class="section-header">Marvel Characters</h4>
      <div class="row">
        <div class="character-card col-sm-4 col-md-3 col-lg-2" *ngFor="let character of characters">
          <a class="card-link">
            <div class="card-head">
              <figure class="image-wrapper">
                <img src="{{character.thumbnail.path | append:'portrait_medium':character.thumbnail.extension}}">
              </figure>
            </div>
            <div class="card-content slider">
              <p class="card-content-headline">{{character.name}}</p>
              <p class="card-content-footer">{{character.series.title ? character.series : 'Marvel' }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>