@import '../../../variables';
@import '../../../mixins';
@import '../../../section-header';

.characters {
  .banner {
    position: absolute;
    left: 0;
    right: 0;
    width: $width;
    max-height: $banner-height;

    .banner-image {
      margin: 0;
      clip-path: $banner-clip-path;

      img {
        width: $width;
        max-height: $banner-height;
        object-fit: cover;
      }

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: $width;
        background-color: $banner-overlay;
        opacity: $banner-overlay-opacity;
      }
    }

    .banner-text {
      @include position-middle-screen();
      color: $white;
      text-align: center;

      .banner-heading {
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 1.2px;
      }

      .banner-info {
        font-size: 1.4rem;
      }
    }

    .container {
      position: relative;
      top: -3rem;
      min-height: 20rem;
      background-color: $white;
      margin: 0 auto;
      padding: 3rem 2rem;
      overflow: hidden;
    }

  }

  .character-card {
    width: 100%;
    white-space: normal;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 85% 100%, 0% 100%);
    z-index: 10;
    margin: 10px 0;

    .card-link {
      text-decoration: none;
      color: $white;
      cursor: pointer;
    }

    .card-head {
      background: $primary;
      margin: 0;
      overflow: hidden;
      padding: 0;
      height: 200px;
      width: 100%;

      .image-wrapper {
        margin: 0;
        height: 100%;
        position: relative;

        &::after {
          height: 4px;
          content: "";
          background-color: $primary;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
        }

        img {
          transform: scale(1);
          transition: all .2s linear;
          backface-visibility: hidden;
          overflow: hidden;
          object-position: top center;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .card-content {
      height: 145px;
      padding: 15px;
      overflow: hidden;
      position: relative;
      line-height: 1;
      z-index: 100;

      &.slider {
        background: #000;

        &::before {
          background: $primary;
          bottom: 100%;
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          transition: all .3s;
          backface-visibility: hidden;
          width: 100%;
          z-index: -1;
        }
      }

      &-headline {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
      }

      &-footer {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        color: $light;

        position: absolute;
        bottom: 15px;

      }
    }

    .card-link:hover {
      & .slider::before {
        transform: translate3d(0, 100%, 0);
      }

      & .image-wrapper img {
        transform: scale3d(1.05, 1.05, 1.0);
      }

      & .card-content-footer {
        color: $white;
      }
    }
  }
}
