@import '../../../variables';
@import '../../../mixins';

.movie-card {
  position: relative;
  margin-bottom: 1rem;

  &-link {
    font-weight: 700;
    text-decoration: none;
    font-size: $card-title-size;
    color: $card-text-color;
  }

  &-image {
    margin: 0;
    margin-bottom: 1rem;
    box-shadow: $card-shadow;
    backface-visibility: hidden;
    transition: $card-transition;

    img {
      margin: 0;
      padding: 0;
      width: 100%;
      min-height: $card-height;
      max-height: $card-height;
      object-fit: cover;
      object-position: top center;
    }
  }

  &-body {
    p {
      margin: 0;
      transition: $card-transition;
    }

    .title {
      letter-spacing: 1.1px;
      word-wrap: none;
      white-space: normal;
    }

  }

  &-link:hover {
    .movie-card-image {
      transform: translate3d(0, -2%, 0);
    }

    .movie-card-body {
      .title {
        color: $primary;
      }

      .footer {
        color: lighten($card-text-color, 25%);
      }
    }
  }
}
