@import '../../../variables';
@import '../../../mixins';

.banner {
  position: absolute;
  left: 0;
  right: 0;
  width: $width;
  max-height: $banner-height;

  .banner-image {
    margin: 0;
    clip-path: $banner-clip-path;

    img {
      width: $width;
      max-height: $banner-height;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: $width;
      background-color: $banner-overlay;
      opacity: $banner-overlay-opacity;
    }
  }

  .banner-text {
    @include position-middle-screen();
    color: $white;
    text-align: center;

    .banner-heading {
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 1.2px;
    }

    .banner-info {
      font-size: 1.4rem;
    }
  }

  .container {
    position: relative;
    top: -3rem;
    min-height: 20rem;
    background-color: $white;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
  }

  .page-link {
    color: $gray;
    cursor: pointer;
  }
}
