<div class="container-fluid">
  <div class="banner">
    <figure class="banner-image">
      <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/movies_art_mas_mob_05.jpg" alt="Banner">
    </figure>
    <div class="banner-text">
      <h3 class="banner-heading">MOVIES</h3>
      <p class="banner-info">Journey into the cosmic depths of the mighty Marvel Cinematic Universe!</p>
    </div>
    <div class="container row">
      <app-movie-card class="col-sm-4 col-md-4 col-lg-3 col-xl-2" [movie]="movie" *ngFor="let movie of movies">
      </app-movie-card>
    </div>

    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled': page==1}">
        <a class="page-link" (click)="paginate(-1)" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="gotoPage(1)">1</a></li>
      <li class="page-item"><a class="page-link" (click)="gotoPage(2)">2</a></li>
      <li class="page-item"><a class="page-link" (click)="gotoPage(3)">3</a></li>
      <li class="page-item" [ngClass]="{'disabled': page==100}">
        <a class="page-link" (click)="paginate(1)">Next</a>
      </li>
    </ul>
  </div>
</div>
