$primary:       #F83745ff;
$secondary:     #FF424Fff;
$light:         #D7D8D9ff;
$dark:          #2d363bff;
$gray:          #222B31ff;
$black:         #191C1Fff;
$white:         #ffffffff;
$yellow:        #e5f837ff;

$width:                     100%;
$banner-height:             22rem;
$banner-clip-path:          polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
$banner-overlay:            $black;
$banner-overlay-opacity:    0.7;
$card-shadow:               0 7px 17px -8px rgba(0, 0, 0, .8);
$card-height:               16rem;
$card-transition:           all .2s ease-in-out;
$card-title-size:           0.9rem;
$card-text-color:           $dark;